body, html {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    background-color: #fff;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    font-size: 24px;
    color: black;
    margin-bottom: 15px;
    font-weight: normal; /* added this line to make the title thinner */
}


.emoji {
    font-size: 18px; /* reduced from 24px */
    margin-bottom: 25px;
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

